# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Python cache / bytecode
__pycache__/
*.py[cod]

# Build / packaging
build/
dist/
wheels/
*.egg-info/

# Virtual environments
.venv/

# Testing
.pytest_cache/

# Lint / format tools
.ruff_cache/

# Documentation
dev_docs/
site/